.grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  gap: 16px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  font-family: monospace;
  gap: 16px;
  background-color: tomato;
  border-radius: 15px;
  width: 300px;
  height: 300px;
}
